html {
	font-size: 16px;
	font-family: Verdana, Tahoma, "Segoe UI", sans-serif;
}
h1 {
	font-size: 3rem;
}
p {
	font-size: 1.1rem;
}
a {
	text-decoration-line: none;
	color: #fff;
}
a:hover:not(.process-button) {
	text-decoration-line: underline;
}
.page-header {
	//background-color: #2dafc4;
	//background-image: linear-gradient(#121321, #2dafc4 60%);
	//background-color: #ededed;
}
.page-main {
	background-color: #ededed;
}
.main-header {
	color: #fff;
}
.page-footer {
	//background-color: #121321;
	background-image: linear-gradient(#2dafc4, #121321 80%);
	padding: 15px 0;
}
.page-footer * {
	color: #fff;
	font-style: normal;
}
.page-footer > *:not(:last-child) {
	margin-bottom: 10px;
}
input:not([type="date"]):not([type="checkbox"]) {
	width: 100%;
}
fieldset {
	border-top: 2px solid gray;
	margin-bottom: 30px;
	padding-top: 15px;
}
form {
	background-color: lightblue;
	padding: 25px 10px;
}