html {
	font-size: 16px;
}
body {
	font-family: Verdana, Tahoma, "Segoe UI", sans-serif;
}
a {
	text-decoration-line: none;
	color: #fff;
}
@media (hover: hover) {
	a:hover:not(.process-button) {
		text-decoration-line: underline;
	}
}
.main-header__hgroup em {
	font-style: normal;
}
button {
	cursor: pointer;
}
dt {
	font-weight: bold;
}
h1 {
	margin-bottom: 15px;
}