.page-header {
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
}
.page-main {
	display: grid;
	grid-template-columns: minmax(340px, 900px);
	justify-content: center;
}
.page-footer {
	text-align: center;
}
.main-header, .main-header__hgroup, .main-header__ul {
	text-align: center;
}
.card {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
fieldset {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
}
.input-group--photo {
	grid-column: 2;
	grid-row: 1/3;
	justify-self: end;
}
legend {
	position: absolute;
	bottom: 100%;
}