.fieldset-cards-wrapper {
	grid-column: 1/-1;
}
.fieldset-card {
	padding: 2px;
	overflow: hidden;
	transition: height .3s linear;
}
.fieldset-card-output {
	display: grid;
	grid-template-columns: 1fr min-content min-content;
	column-gap: 10px;
	align-items: center;
	overflow: hidden;
	opacity: 0;
	transition: height .3s linear, opacity .3s linear;
}
.fieldset-card-enter-field--interest {
	display: grid;
	grid-template-columns: auto min-content;
	gap: 10px;
}
.fieldset-card-enter-field--interest .delete-card,
.fieldset-card-enter-field--interest .save-card {
	grid-row: 2;
}
.fieldset-card:nth-child(1):last-of-type .fieldset-card-output > div {
	grid-column: 1/3;
}
.input-group--interest {
	grid-column: 1/-1;
}
.fieldset-card-enter-field--skill {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 10px;
	transition: opacity .3s linear;
}
.fieldset-card-enter-field--reference {
	display: grid;
	grid-template-columns: 1fr min-content;
	row-gap: 5px;
	column-gap: 10px;
	transition: opacity .3s linear;
}
.fieldset-card-enter-field--education,
.fieldset-card-enter-field--work {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 5px;
	column-gap: 10px;
	transition: opacity .3s linear;
}
.card-buttons-wrapper {
	display: grid;
	grid-template-columns: 1fr min-content;
	column-gap: 10px;
	grid-column: 1/-1;
}
.fieldset-card-enter-field--reference .input-group {
	grid-column: 1/-1;
}
.fieldset-card-enter-field .delete-card,
.fieldset-card-enter-field .save-card {
	align-self: end;
}
.input-group--skill {
	grid-column: 1/-1;
}
.input-group--study-end,
.input-group--work-end {
	text-align: end;
}
.fieldset-card--output-title,
.fieldset-card--output-subtitle {
	text-overflow: ellipsis;
	overflow: hidden;
}
.fieldset-card--output-title {
	font-weight: bold;
}
.fieldset-card:not(:last-of-type) {
	margin-bottom: 10px;
}
.fieldset-card-output .edit-card span,
.fieldset-card-output .delete-card span {
	display: none;
}
@media (min-width: 480px) {
	.fieldset-card-output .edit-card span,
	.fieldset-card-output .delete-card span {
		display: inline;
	}
	.fieldset-card-enter-field--skill,
	.fieldset-card-enter-field--interest {
		grid-template-columns: 1fr 1fr min-content;
	}
	.input-group--skill,
	.input-group--interest {
		grid-column: 1/3;
	}
	.input-group--skill-level {
		grid-row: 2;
	}
	.fieldset-card-enter-field--skill .delete-card,
	.fieldset-card-enter-field--interest .delete-card {
		grid-row: 1;
		grid-column: 3;
	}
	.fieldset-card-enter-field--skill .save-card,
	.fieldset-card-enter-field--interest .save-card {
		grid-column: 3;
	}
}
@media (min-width: 768px) {
	.fieldset-card-output {
		grid-template-columns: 1fr min-content min-content;
	}
	.fieldset-card-enter-field--skill {
		grid-template-columns: 2fr 1fr min-content min-content;
	}
	.fieldset-card-enter-field--skill .save-card,
	.fieldset-card-enter-field--interest .save-card {
		grid-row: 1;
		grid-column: 3;
	}
	.fieldset-card-enter-field--skill .delete-card,
	.fieldset-card-enter-field--interest .delete-card {
		grid-column: 4;
	}
	.fieldset-card-enter-field--reference .delete-card {
		grid-column: 2;
	}
	.input-group--skill {
		grid-column: 1;
	}
	.input-group--skill-level {
		grid-row: 1;
		grid-column: 2;
	}
	.input-group--study-end,
	.input-group--work-end {
		text-align: start;
	}
	.fieldset-card--output-title {
		max-width: 550px;
	}
}